.footer {
    width: 100%;
    padding: 30px 0;
    background-color: $color_dark;
    .footer-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $breakpoint_mobile) {
            flex-direction: column;
        }
    }
    p {
        font-size: 20px;
        color: #fff;
    }
    a.git-link {
        width: 40px;
        height: 40px;
        img {
            max-width: 100%;
        }
    }
    .logo-rs {
        width: 100px;
        img {
            max-width: 100%;
        }
    }
}